h1 {
  text-align: center;
}

.potato {
  font-weight: 800;
}
.bong {
  width: 900px;
  height: 900px;
}
#pic1 {

  width: 225px;
  height: 225px; 
}
#pic2 {
 
  width: 225px;
  height: 225px;
}
#pic3 {
  
  width: 225px;
  height: 225px;
}
#pic4 {
 
  width: 225px;
  height: 225px;
}
